::-webkit-scrollbar {
    width: 8px;
    /* background: rgb(90, 3, 3); */
}
::-webkit-scrollbar-thumb {
    background-color: #dc3546aa;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #dc3546;
    border-radius: 5px;
}
.text-hover:hover {
    border-color: #CD4535;
    color: #CD4535;
}
.text-active {
    color: #CD4535;
}
.show-hover {
    top: 50%;
    display: none;
    transition: calc(0.6s);
}
.hover-trigger:hover .show-hover {
    display: block;
    transition: calc(0.6s);
}
.hover-trigger:hover > img {
    opacity: 0.5;
    transition: calc(0.6s);
}
.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.1);
}
.css-label-input:hover {
    cursor: pointer;
}
.css-input {
    display: none;
}
.css-input:checked ~ .css-label-input {
    cursor: default;
    color : #CD4535;
    border-radius: 5px;
    border: 2px solid #CD4535;
    padding: 2px 5px 2px 5px;
}
.css-box-donate {
    transition: transform 0.3s;
}
.css-box-donate:hover {
    transform: scale(1.1);
}